/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
body {
	margin: 0 !important;
}

#menuContainer, #headerContainer, #contentContainer, #footerContainer {
	width: 100%;
	border: none;
}

#menuContainer, #headerContainer, #contentContainer {
	position: relative;
	top: 0px;
}

#footerContainer {
	/* Make sure the footer floats at the bottom of the page */
	position: fixed;
	bottom: 0px;
	overflow: auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.rounded {
	border-radius: 5px;
}

.parameterPanel {
  vertical-align: top;
  height: 100%;
  border-right: thin double #000000;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
