.header-panel {
	/* background: #BDBDBD !important; */
	margin: 10px 0px 10px 0px;
	border: none;
	font-family: 'Fira Sans', sans-serif;
	font-weight: medium;
	font-size: 20px;
	color: #FFFFFF;
	background: rgba(64, 64, 64, 0);
    padding-left: 10px;
    width: 100%;
}

.header-title-panel {
	
}

.header-link {
	
}